@charset "utf-8";

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 66px;
    background-color: #fff;
    border-bottom: 3px solid #000;
    z-index: 1000;
    /* opacity: 0.5;임시 */
}

header>.logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}

header>.logo>a{
    display: block;
    height: 66px;
    font-size: 20px;
    line-height: 66px;
    text-align: center;
}

header>nav{
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 200px);
}

header>nav>.gnb{
    display: flex;
    flex-flow: row nowrap;
}

header>nav>.gnb>li{
    width: 20%;
}

header>nav>.gnb>li>a{
    display: block;
    height: 66px;
    line-height: 66px;
    text-align: center;
}

header>nav>.gnb>li:hover>a,
header>nav>.gnb>li.on>a{
    color:#00f;
    font-weight: 800;
}

section{
    width: 1100px;
    margin: 0 auto;
}

section.visual{    
    height: 560px;
    margin-top: 69px;
    text-indent: -9999px;
    background-image: url(../images/visual.png);
}

section>article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.cont0{
    display: block;
    position: relative;
    height: 1000px;
    font-size: 12px;
    background-color: #ccc;
}

.cont0>div{
    position: absolute;
    left: 200px;
    top: 200px;
}

.cont1{
    height: 845px;
    background-color: #9f9;
}

.cont2{
    height: 800px;
    background-color: #fc0;
}

.cont3{
    height: 600px;
    background-color: #990;
}

.cont4{
    height: 1000px;
    background-color: #6fc;
}

footer{
    height: 300px;
    line-height: 300px;
    font-size: 150px;
    text-align: center;
    background-color: pink;
}

aside{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 51px;
    height: 51px;
    text-indent: -9999px;
    background-image: url(../images/top.png);
    background-size: cover;
    cursor: pointer;
}

aside:hover:before{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 51px;
    background-color: #fff;
    opacity: 0.2;
    content: '';
}