@charset "utf-8";

body{background-color: #394753;}

#wrap{
    width: 850px;
    margin: 0 auto;
    background-color: #fff;
}

/* 헤더영역 */
header{
    position: relative;
    height: 150px;
}

header>.maintit{
    position: absolute;
    left: 10px;
    top: 40px;
    width: 300px;
    text-align: center;
}

header>.maintit>a{
    font-size: 30px;
}

/* 헤더- 네비게이션 영역 */
header>nav{
    position: absolute;
    bottom: 0;
    width: 850px;
    background-color: #394753;
}

header>nav>.gnb{
    display: flex;
    justify-content: flex-end;
}

header>nav>.gnb>li{
    border: 1px solid #000;
    box-sizing: border-box;
}

header>nav>.gnb>li>a{
    display: block;
    width: 70px;
    height: 35px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    color: #fff;
}

header>nav>.gnb>li.on>a,
header>nav>.gnb>li:hover>a{
    color: #394753;
    background-color: #fff;
    text-decoration: underline;
}

header>nav>.gnb>li:nth-child(4){
    transform: translate(1px, 0);
}

header>nav>.gnb>li:nth-child(3){
    transform: translate(2px, 0);
}

header>nav>.gnb>li:nth-child(2){
    transform: translate(3px, 0);
}
header>nav>.gnb>li:first-child{
    transform: translate(4px, 0);
}



/* 섹션 이미지 */
section>.ir{
    text-indent: -9999px;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section>.ir>a{
    display: block;
    height: 300px;
}

section>article{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

section>article>section>p>span{
    display: block;
    height: 12px;
}

section>article>h2{
    display: none;
}

section>article>section{
    width: 245px;
    padding: 5px;
    border: 1px solid #727272;
}

section>article>section>p{
    line-height: 1.4;
}

section>article>section>h3{
    margin-bottom: 10px;
}

section>article>section>.pht{
    display: block;
    float: right;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #727272;
    transform: translate(10px, -13px);
}

section>article>section>span>img{
    display: block;
    width: 100%;
}

section>article>section:nth-of-type(2)>p+p{
    margin-left: 10px;
}
section>article>section:nth-of-type(3)>span>img{
    margin-top: 8px;
}


/* 푸터영역 */
footer>address{
    padding-top: 10px;
    color: #fff;
    font-style: italic;
    background-color: #394753;
    text-align: center;

}