@charset "utf-8";

body{
    background-color: rgb(19, 65, 84);
}
#wrap{
    display: flex;
    flex-direction: column;
    width: 920px;
    margin: 0 auto;
    background-color: #fff;
}
header{
    position: relative;
    height: 180px;
    /* border: 1px solid #000; */
}
header>.tit{
    position: absolute;
    top: 49px;
    left: 40px;
    color: #888;
    font-size: 35px;
}
header>.tit>a{
    color: #555;
    font-size: 40px;
}

header>nav{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 148px;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(19, 65, 84);

}
header>nav>.gnb{
    *zoom: 1;
}
header>nav>.gnb:after{
    display: block;
    clear: both;
    content: '';
}

header>nav>.gnb>li{
    float: left;
}
header>nav>.gnb>li>a{
    display: block;
    width: 72px;
    height: 32px;
    color: #ffffff;
    font-weight: 800;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #000;
    border-right: 0;
    box-sizing: border-box;
}

header>nav>.gnb>li:last-child>a{
border-right: 1px solid #000;
}
header>nav>.gnb>li>a.on{
    color: rgb(19, 65, 84);
    text-decoration: underline;
    background-color: #fff;
}

header>.test{
    position: absolute;
    top: 180px;
    width: 920px;
    border-top: 3px solid #ccc;
}


section>.test>a{
    display: block;
    text-indent: -9999px;
    height: 330px;
    background-image: url(./../images/header.jpg);
    background-size: cover;   
}

section>article{
    padding: 20px 30px;
}

section>article>ul{
    display: flex;
    justify-content: space-between;
}

section>article>ul>li{
    position: relative;
    width: 250px;
    height: 250px;
    padding: 10px;
    font-size: 15px;
    background-color: #fafafa;
    border: 3px solid #dfdfdf;
}
section>article>ul>li:after{
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 96px;
    height: 96px;
    background-size: cover;
    border: 3px solid #dfdfdf;
    content: '';
}

section>article>ul>li:nth-child(1):after{
    background-image: url(./../images/pic1.jpg);
}
section>article>ul>li:nth-child(2):after{
    background-image: url(./../images/pic2.jpg);
}
section>article>ul>li:nth-child(3):after{
    background-image: url(./../images/pic3.jpg);
}

section>article>ul>li>strong{
    font-size: 17px;
}

section>article>ul>li>strong:before{
    display: block;
    float: right;
    width: 93px;
    height: 93px;
    /* border: 1px solid #000; */
    content: '';
}

section>article>ul>li>ol>li{
    margin-top: 15px;
}
section>article>ul>li>ol>li>.point{
    color: rgb(71, 145, 220);
}
section>article>ul>li>ol>li>strong{
    display: block;
}




footer>address{
    color: #fff;
    line-height: 3;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    background-color: rgb(19, 65, 84);
}