@charset "utf-8";

a{
    text-decoration: none;
}

hr{visibility: hidden;}

em{
    font-style: normal;
    font-weight: 800;
}

address{font-style: normal;}

body{
    background-color: #394753;
}

#wrap{
    width: 960px;
    margin: 0 auto;
}

header{
    height: 130px;
    border-bottom: 1px solid #fff;
}

.logo{
    height: 100px;
    padding-left: 30px;
    line-height: 100px;
    text-align: left;
    background-color: #fff;
}

.logo>a{
    display: block;
    color: #394753;
}

.gnb{
    position: relative;
    height: 30px;
}

.gnb>.menu{
    *zoom: 1;
    position: absolute;
    left: 655px;
}

.gnb>.menu>li{
    float: left;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #666;
    box-sizing: border-box;
}

.gnb>.menu>li>a{
    display: block;
    width: 60px;
    height: 28px;
    margin: 1px 0;
    color: #fff;
}

.gnb>.menu>li>a:hover{
    color: #394753;
    text-decoration: underline;
    background-color: #fff;
    transition: all 0.3s ease-in-out 0s;
}

.gnb>.menu>li:nth-of-type(1)>a{
    color: #394753;
    background-color: #fff;
}

.gnb>.menu:after{
    display: block;
    clear: both;
    content: '';
}

section{
    background-color: #fff;
}

section>h2{
    display: none;
}

.head>h2{
    position: relative;
    height: 384px;
    text-indent: -9999px;
    background-image: url(../images/header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.head>h2>a{
    position: absolute;
    display: block;
    top: 288px;
    z-index: 200;
    width: 960px;
    height: 96px;
}

.verbcont{
    padding: 20px 30px;
}

.verbcont>h2{
    display: none;
}

.verbcont>.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.verbcont>.cont>li{
    *zoom: 1;
    position: relative;
    width: 268px;
    height: 230px;
    padding: 10px;
    line-height: 1.5;
    background-color: #f9f9f9;
    border: 1px solid #bbb;
}

.verbcont>.cont>li:after{
    display: block;
    clear: both;
    content: '';
}

.verbcont>.cont>li>h3{
    margin-bottom: 10px;
}

.verbcont>.cont>li>span.image{
    display: block;
    float: right;
    position: absolute;
    right: -10px;
    top: -10px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    background-color: #fff;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #bbb;
}

.verbcont>.cont>li:nth-child(1) span.image{
    background-image: url(../images/pic1.jpg);
}

.verbcont>.cont>li:nth-child(2) span.image{
    background-image: url(../images/pic2.jpg);
}

.verbcont>.cont>li:nth-child(3) span.image{
    background-image: url(../images/pic3.jpg);
}

footer{
    height: 100px;
}

footer>address{
    margin-top: 20px;
    color: #fff;
    text-align: center;
}