@charset "utf-8";

body{
    background-color: #394753;
}

#wrap{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
}

/* header{background-color: #ff0;} */

header>.logo>a{
    display: block;
    height: 100px;
    color: #394753;
    font-size: 29px;
    line-height: 100px;
    text-indent: 20px;
}

header>nav{background-color: #394753;}

header>nav>.gnb{
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    /* background-color: #0f0; */
}

header>nav>.gnb>li{
    border: 1px solid #000;
    border-right-width: 0;
    border-right: none;
    border-right: 0;
}

header>nav>.gnb>li:last-child{border-right: 1px solid #000;}

header>nav>.gnb>li>a{
    display: block;
    height: 26px;
    padding: 0 15px;
    color: #fff;
    font-weight: 800;
    line-height: 26px;
}

header>nav>.gnb>li.on>a,
header>nav>.gnb>li:hover>a{
    color: #000;
    text-decoration: underline;
    background-color: #fff;
}

/* 비주얼영역 */
section.visual{
    height: 250px;
    background-image: url(../images/header.jpg);
    background-size: cover;
}

section.visual>a{
    display: block;
    height: 100%;
    text-indent: -9999px;
}


/* 콘텐츠영역 */
section.cont{
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap; */
    justify-content: space-around;
}

section.cont>article{
    width: 210px;
    height: 250px;
    border: 1px solid #aaa;
}

section.cont>article>h3{}


footer{
    background-color: #394753;
}

footer>address{
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
}