@charset "utf-8";

body{
    background-color: #394753;
}

#wrap{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
}


header>.logo>a{
    display: block;
    height: 100px;
    color: #394753;
    font-size: 29px;
    line-height: 100px;
    text-indent: 20px;
}

header>nav{background-color: #394753;}

header>nav>.gnb{
    display: flex;
    justify-content: flex-end;
}

header>nav>.gnb>li{
    border: 1px solid #000;
    border-right-width: 0;
    border-right: none;
    border-right: 0;
}

header>nav>.gnb>li:last-child{border-right: 1px solid #000;}

header>nav>.gnb>li>a{
    display: block;
    height: 26px;
    padding: 0 15px;
    color: #fff;
    font-weight: 800;
    line-height: 26px;
}

header>nav>.gnb>li.on>a,
header>nav>.gnb>li:hover>a{
    color: #000;
    text-decoration: underline;
    background-color: #fff;
}

/* 비주얼영역 */
section.visual{
    height: 250px;
    background-image: url(../images/header.jpg);
    background-size: cover;
}

section.visual>a{
    display: block;
    height: 100%;
    text-indent: -9999px;
}


/* 콘텐츠영역 */
section.cont{
    display: flex;
    justify-content: space-around;
}

section.cont>article{
    width: 210px;
    /* height: 250px; */
    margin: 15px 0 0 0;
    background-color: #f9f9f9;
    border: 1px solid #aaa;
}

section.cont>article>h3{
    margin: 5px 0 2px 5px;
}

section.cont>article>p{
    padding: 5px;
    line-height: 1.4;
    *zoom:1;
}

section.cont>article>p:after{
    display: block;
    clear: both;
    content: '';
}

section.cont>article>p>.frame{
    display: block;
    float: right;
    width: 75px;
    height: 75px;
    margin: -35px -10px 0 2px;
    border: 1px solid #bbb;
}

section.cont>article>p>.frame>img{
    display: block;
    width: 100%;
    height: 100%;
}

section.cont>article>dl{
    margin: 15px 0 0 10px;
}

section.cont>article>dl>dt{
    margin-top: 10px;
}


footer{
    margin-top: 10px;
    background-color: #394753;
}

footer>address{
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
}