@charset "utf-8";

header{
    position: relative;
    width: 100%;
    min-width: 940px;
    height: 134px;
    background-color: #fff;
    /* border: 1px solid #F00;임시 */
}

header>h1{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -470px;
    width: 140px;
    background-image: url(../images/logo.gif);
    /* outline: 1px solid black; */
    z-index: 1000;
}

header>h1>a{
    display: block;
    height: 109px;
    text-indent: -9999px;
}

header>div{
    height: 35px;
    background-color: #b9b9b9;
}

header>div>.snb{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 5px;
    width: 190px;
    margin-left: 280px;
}

header>div>.snb>li:nth-child(1){width: 82px;background-image: url(../images/btn_eng.gif);}
header>div>.snb>li:nth-child(2){width: 100px;background-image: url(../images/btn_contact.gif);}

header>div>.snb>li>a{
    display: block;
    height: 25px;
    text-indent: -9999px;
}

header>nav{
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    height: 54px;
    background-color: #009ddf;
}

header>nav>.gnb{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    width: 800px;
    height: 99px;
    margin-left: -330px;
    /* background-color: pink;임시 */
}

header>nav>.gnb>li{
}

header>nav>.gnb>li:nth-child(1){width: 160px;}
header>nav>.gnb>li:nth-child(2){width: 150px;}
header>nav>.gnb>li:nth-child(3){width: 180px;}
header>nav>.gnb>li:nth-child(4){width: 151px;}
header>nav>.gnb>li:nth-child(5){width: 159px;}

header>nav>.gnb>li>a{
    display: block;
    position: relative;
    height: 54px;

    color: #fff;
    font-weight: 600;
    font-size: 16px;

    line-height: 54px;
    text-align: center;
    border-right: 1px solid #2FBFEF;
    box-sizing: border-box;
}

header>nav>.gnb>li:hover>a,
header>nav>.gnb>li.on>a{
    color: #222;
    background-color: #fff;
}

/*활성화 표식*/
header>nav>.gnb>li>a>.bar{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 65px;
    height: 5px;
    margin-left: -33px;
    background-color: #009ddf;
}

header>nav>.gnb>li:nth-child(1)>a>.bar{width: 65px;margin-left: -33px;}
header>nav>.gnb>li:nth-child(2)>a>.bar{width: 65px;margin-left: -33px;}
header>nav>.gnb>li:nth-child(3)>a>.bar{width: 97px;margin-left: -48px;}
header>nav>.gnb>li:nth-child(4)>a>.bar{width: 66px;margin-left: -33px;}
header>nav>.gnb>li:nth-child(5)>a>.bar{width: 66px;margin-left: -33px;}


/* 서브메뉴 */
header>nav>.gnb>li>.sub{
    display: none;
    position: absolute;
    left: 0;
    top: 54px;
    width: 1000px;
    /* background-color: pink; */
}

header>nav>.gnb>li:nth-child(1)>.sub{margin-left: 35px;}
header>nav>.gnb>li:nth-child(2)>.sub{margin-left: 20px;}
header>nav>.gnb>li:nth-child(3)>.sub{margin-left: 250px;}
header>nav>.gnb>li:nth-child(4)>.sub{margin-left: 200px;}
header>nav>.gnb>li:nth-child(5)>.sub{margin-left: 350px;}

header>nav>.gnb>li>.sub>li{
    float: left;
    margin: 0 12px;
}

header>nav>.gnb>li>.sub>li>a{
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

header>nav>.gnb>li>.sub>li:hover>a{
    color: #000;
    font-weight: 800;
}

section{
    width: 940px;
    height: 500px;
    margin: 0 auto;
    font-size: 150px;
    line-height: 500px;
    text-align: center;
    background-color: #ececec;
}

footer{
    min-width: 940px;
    color: #fff;
    font-size: 24px;
    background-color: #ccc;
}
