@charset "utf-8";

body{
    font-size: 14px;
    background-color: #f5f5f5;
}

#wrap{
    width: 500px;
    margin: 0 auto 100px;
}

form>fieldset{
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #dedede;
}

form>fieldset>ul>li{
    padding: 10px;
    line-height: 25px;
    border-bottom: 1px solid #dedede;
}

form>fieldset>ul>li:last-child{border: none;}

form input[type=text],
form input[type=password]{
    width: 468px;
    height: 15px;
    padding: 5px 6px;
    border: none;
    outline: none;
}

form input[type=text]:focus,
form input[type=password]:focus{
    background-color: lightgoldenrodyellow;
}

form input[type=text]:focus+.info,
form input[type=password]:focus+.info{
    display: block;
}

form>fieldset>ul>li>.info{
    display: none;
    color: #f00;
    font-size: 12px;
}


form>fieldset>ul>li>.tit{
    display: block;
    float: left;
    width: 80px;
    padding-left: 6px;
}

form>fieldset>ul>li>.radio{
    display: block;
    float: left;
    margin-right: 20px;
}

form>fieldset>ul>li>.radio>input{
    display: none;
}

form>fieldset>ul>li>.radio>input:checked+label:before{
    background-position: 0 0;
}

form>fieldset>ul>li>.radio>label{
    display: block;
    position: relative;/* 아래 가상선택자의 기준점 역할 */
    height: 25px;
    padding-left: 30px;
    line-height: 25px;
}

form>fieldset>ul>li>.radio>label:before{
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    width: 23px;
    height: 23px;
    background-image: url(../images/icon_radiobutton.png);
    background-position: 0 -23px;
    content: '';
}

/* 라디오 사각스위치 스타일 */
form>fieldset>ul>li>.radio-switch{
    display: inline-block;
    position: relative;
    width: 70px;
    height: 25px;
    border: 1px solid #f00;
}

form>fieldset>ul>li>.radio-switch>input{
    position: absolute;
    left: -9999px;
}

form>fieldset>ul>li>.radio-switch>label{
    display: block;
    width: 68px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #dedede;
}



/* 버튼디자인 */
form>p{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
}

form>p>button{
    /* 버튼디자인시 무조건 3요소를 먼저 작성 */
    background: none;
    border: none;
    outline: none;

    width: 246px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #999;
}

form>p>button[type="submit"]{
    background-color: #1EB702;
}