@charset "utf-8";

#wrap {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

header > h1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 12.5%;
  height: 142px;
  line-height: 142px;
  background-color: magenta;
  /* opacity: 0.2; */
}

header > nav {
  width: 87.5%;
  min-height: 80px;
  line-height: 80px;
  background-color: red;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 50%;
  height: 250px;
  background-color: royalblue;
}

.gallery {
  width: 27.08333%;
  background-color: gold;
}

.rankup {
  width: 22.91667%;
  background-color: greenyellow;
}

.latest_post {
  width: 30%;
  height: 270px;
  background-color: blueviolet;
}

.popular_post {
  width: 30%;
  background-color: brown;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-wrap: nowrap;

  width: 22.91667%;
}

.banner > article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex:1 1 0;
}

.banner > article.banner_01 {
  background-color: cornflowerblue;
}

.banner > article.banner_02 {
  background-color: blue;
}

.social {
  width: 17.08333%;
  background-color: purple;
}

footer {
  width: 100%;
  height: 94px;
  line-height: 94px;
  background-color: gray;
}
