@charset "utf-8";
#wrap {
	width: 970px;
	margin: 0 auto;
}

p {
	margin-bottom: 20px;
	text-align: center;
}

ul {
	display: flex;
	width: 100%;
}

ul > li {
	width: 25%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

ul > li > a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

ul > li:hover > a {
	background-color: yellow;
}

@media screen and (max-width: 640px) {
	#wrap {
		width: 100%;
	}

	ul {
		flex-wrap: wrap;
	}

	ul > li {
		width: 100%;
		border-top: none;
	}

	ul > li:nth-child(1) {
		border-top: 1px solid #000;
	}
    
	ul > li:hover > a {
		background-color: pink;
	}
}