@charset "utf-8";

#wrap{
    width:706px;/* = 74*9 + 5*8 */
    margin: 0 auto 100px;
}

.slides{
    outline: 1px solid red;
}

.slides>.slides-pagination{
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.slides>.slides-pagination>li{
    width: 74px;
}

.slides>.slides-pagination>li>a{
    display: block;
    height: 74px;
}

.slides>.slides-pagination>li>a>img{
    display: block;
    width: 100%;
}

.slides>.slides-container{
    overflow: hidden;
    height: 325px;
}

.slides>.slides-container>img{
    display: none;
    width: 100%;
}

.slides>address{
    height: 50px;
    line-height: 50px;
    text-align: center;
}