@charset "utf-8";

.slides{
    overflow: hidden;
    position: relative;
    width: 250px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

.slides>h2{
    height: 400px;
    text-indent: -9999px;
    background-image: url(../images/face.jpg);
}

.slides>.slides-hair{
    display: flex;
    position: absolute;
    left: 0;         /* 인덱스0 hair = -250 * 0 */
    left: -250px;    /* 인덱스1 hair = -250 * 1 */
    left: -500px;    /* 인덱스2 hair = -250 * 2 */
    left: -750px;    /* 인덱스3 hair = -250 * 3 */
    left: -1000px;   /* 인덱스4 hair = -250 * 4 */
    top: 0;
    width: 1250px;
    /* outline: 1px solid blue; */
}

.slides>.slides-hair>li{
    width: 250px;
    height: 100px;
    text-indent: -9999px;
}

.slides>.slides-hair>li:nth-child(1){background-image: url(../images/hair1.png);}
.slides>.slides-hair>li:nth-child(2){background-image: url(../images/hair2.png);}
.slides>.slides-hair>li:nth-child(3){background-image: url(../images/hair3.png);}
.slides>.slides-hair>li:nth-child(4){background-image: url(../images/hair4.png);}
.slides>.slides-hair>li:nth-child(5){background-image: url(../images/hair5.png);}

.slides>.slides-pagination{
    display: flex;
    justify-content: space-between;
    width: 85px;
    margin: 10px auto;
}

.slides>.slides-pagination>li{
    width: 13px;
    background-image: url(../images/pagination.png);
}

.slides>.slides-pagination>li:hover{
    background-position: 0 -13px;
}

.slides>.slides-pagination>li.on{
    background-position: 0 -26px;
}

.slides>.slides-pagination>li>a{
    display: block;
    height: 13px;
    text-indent: -9999px;
}


address{
    line-height: 50px;
    text-align: center;
}