@charset "utf-8";

.gallery{
    width: 666px;
    margin: 0 auto;
}

.gallery>.pagination{
    display: flex;
    flex-flow: row nowrap;
}

.gallery>.pagination>a{
    display: block;
    width: 37px;
    height: 74px;
    text-indent: -9999px;
    background-image: url(../images/sp_btn.png);
}

.gallery>.pagination>a:nth-of-type(1){
    background-position: -310px -300px;
}

.gallery>.pagination>a:nth-of-type(2){
    background-position: -310px -376px;
}

.gallery>.pagination>.thmbs{
    display: flex;
    flex-flow: row nowrap;
}

.gallery>.pagination>.thmbs>li{
    overflow: hidden;
    position: relative;
    width: 74px;
}

.gallery>.pagination>.thmbs>li>a{
    display: block;
    height: 74px;
}

.gallery>.pagination>.thmbs>li.on>a:before,
.gallery>.pagination>.thmbs>li:hover>a:before{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 74px;
    height: 74px;
    border: 5px solid rgb(253, 92, 92);
    box-sizing: border-box;
    content: '';
}


.gallery>.pagination>.thmbs>li>a>img{
    display: block;
    width: 100%;
}


.gallery>.screen{
    margin-top: 10px;
}

.gallery>.screen>p{
    height: 440px;
    text-indent: -9999px;
    background-image: url(../images/wonder_gallery_pht_01.jpg);
    background-size: cover;
    border: 1px solid #dedede;
    box-sizing: border-box;
}